
<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>No has iniciado sesión!</h1>
    <p>Si quieres acceder a este contenido inicia sesión primero.</p>
    <p><a class="btn" href="/">Volver</a></p>
  </main>
<%- include('includes/footer') %>
