
<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>¡Algo ha ido mal!</h1>
    <p>Por favor, intentelo de nuevo más tarde.</p>
    <p><a class="btn" href="/">Volver</a></p>
  </main>
<%- include('includes/footer') %>
